.main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.main__left{
    flex: 0.3;
    height: 1000px;
    border-right: 1px solid rgb(211, 199, 199);
}

.main__right{
    flex: 0.7;
    margin-left: 2%;
    margin-top: 1%;
}

.ck-editor__editable {
    min-height: 90vh !important;
    border: none !important;
}

.ck-toolbar {
    background-color: black;
    border: none !important;
}

.ck-editor {
    background-color: black;
}

.main__right__toolbar{
    margin-bottom: 2%;
}

.main__right__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.main__header{
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon_container{
    margin: 5px;
    background-color: var(--color-primary);
    padding: 5px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__header__title{
    font-weight: 400;
    font-size: 28px;
}

.main__searchBar{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.searchBar{
    font-family: inherit;
    color: inherit;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    outline: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
}

.main__list-item{
    width: 95%;
    height: 100px;
    /* overflow: hidden; */
}

.main__list-item:hover{
    width: 100%;
    background-color: rgba(168, 131, 131, 0.1);
    cursor: pointer;
}

.main__item-content{
    margin: 10px 10px;
}


.main__item-content-sub{
    margin-top: 5px;
    font-size: small;
    color: gray;
}

.main__item__selected::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: all 0.2s;
}

.main__item__selected:hover::before{
    transform: scaleY(1);
}

.line-breaker{
    margin: 4px 0;
}
